.App-footer {
  margin: 30px, 0;
  padding-top: 50px;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

h1 {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 55px;
  padding-top: 15px;
}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("image1.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style: none;
}

a {
  color: darkorchid;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

