.Font {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 30px;
  width: 80ch;
  animation: type 4s steps(35), blink 0.3s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Fira Mono", monospace;
}

@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes blink {
  60% {
    border-color: transparent;
  }
}
